/node_modules
/public/hot
/public/storage
/public/admin/plugins
/public/img
/public/data
/.idea
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
